target
*.log
.idea
*.iml
certs
application-*.yaml
*.gz
.script
*.pem
rsa
resources/rsa
application.properties
config.json
.DS_Store
.DS_Store
*.properties
src/main/resources/config.json
src/main/resources/application.properties
datafeed.id
*.csv

